@media only screen and (max-width: 360px) {
  .categories {
    display: flex;
    flex-direction: column;
  }
}

header {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-top: 40px;
}

.categories {
  list-style-type: none;
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 50px;
  margin-bottom: 50px;
}

.categories li {
  margin-left: 75px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  background-color: rgb(249, 245, 245);
}

.categories p {
  text-align: center;
}

.categories a {
  text-decoration: none;
  color: black;
}

.categories img {
  margin-top: 12px;
  margin-bottom: 12x;
  max-width: 350px;
  max-height: 180px;
  border: 2px solid rgb(247, 245, 245);
}

.categories img:hover {
  transform: translateY(-8px);
  transition: 0.5s;
  border: 2px solid rgb(247, 245, 245);
  box-shadow: 9px 8px 24px 0px rgba(66, 68, 90, 1);
}
