.items {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.items li {
  list-style-type: none;
  padding: 10px;
  margin-left: 20px;
  letter-spacing: 2px;
  font-size: 18px;
  cursor: pointer;
}

.items li:nth-child(2) {
  margin-right: 45%;
}
