.links {
  list-style-type: none;
  display: flex;
  align-items: baseline;
  border-top: 2px solid rgb(203, 201, 201);
}

.links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
  display: block;
}

.links li {
  margin-left: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
}
