.links {
  list-style-type: none;
  display: flex;
  align-items: baseline;
}

.fixed {
  transition-duration: 0.4s;
  position: fixed;
  display: flex;
  align-content: center;
  background-color: white;
  list-style-type: none;
  top: 32px;
  width: 100%;
  z-index: 2;
  padding-bottom: 8px;
  border: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  letter-spacing: 2px;
}

.fixed li {
  margin-left: 20px;
  font-size: 18px;
}

.fixed a {
  text-decoration: none;
  color: black;
}

.button {
  font-size: 18px;
  visibility: hidden;
}

.hide {
  visibility: visible;
}

.links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
  display: block;
}

.links a:hover {
  border-bottom: 2px solid black;
}

.links li {
  margin-left: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.fixed li:last-child {
  margin-left: 4%;
}

.dropdown_equipment {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: left;
}

.dropdown_equipment_content a:hover {
  border-bottom: 1px solid black;
}

.dropdown_equipment_content {
  columns: 2;
  display: none;
  position: absolute;
  background-color: white;
  top: 42px;
  left: 0px;
  width: 1000px;
  height: 560px;
  z-index: 1;
  vertical-align: bottom;
}

.dropdown_equipment_content li {
  text-align: left;
  list-style-type: none;
  display: flex;
  align-items: stretch;
  padding: 1px;
}

.dropdown_equipment_content li:nth-child(-n + 9) a {
  font-weight: 700;
}

.dropdown_equipment:hover .dropdown_equipment_content {
  display: block;
}

/**/

.dropdown_edibles {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-align: left;
}

.dropdown_edibles_content a:hover {
  border-bottom: 1px solid black;
}

.dropdown_edibles_content {
  columns: 1;
  display: none;
  position: absolute;
  background-color: white;
  width: 215px;
  height: 360px;
  z-index: 1;
  text-align: left;
  top: 42px;
  left: 0px;
}

.dropdown_edibles_content li {
  text-align: left;
  list-style-type: none;
  display: flex;
  align-items: stretch;
  padding: 1px;
}

.dropdown_edibles_content:nth-child(-n + 9) a {
  font-weight: 700;
}

.dropdown_edibles:hover .dropdown_edibles_content {
  display: block;
}
