@media only screen and (max-width: 360px) {
  .shopping li {
    margin-top: 70px;
  }
  .shopping button {
    width: 170px;
    height: auto;
  }
}

.shopping {
  margin-top: 3%;
  width: 100%;
}
.shopping ul {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.shopping li {
  list-style-type: none;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 700;
}

.shopping li:nth-child(2) {
  margin-right: 3%;
}

.products li {
  width: calc(100% / 4);
  list-style-type: none;
  padding: 10px;
  font-size: 18px;
}
