.shopping {
  margin-top: 4%;
  width: 100%;
}
.shopping ul {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.shopping li {
  list-style-type: none;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 18px;
}

.shopping li:nth-child(2) {
  margin-right: 3%;
}

.products ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  width: calc(100%/4);
  list-style-type: none;
  padding: 10px;
  font-size: 18px;
}
