.frame {
  width: 100%;
}

.slider > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 800px;
}

.slider span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
